body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header , main {
    max-width: 800px;
    margin: 0 auto;
}

.alert {
    color: red; 
    padding: 10px; 
    border: 1px solid red; 
    margin-bottom: 15px;
}